.feedback {
  position: relative;
  padding-top: 93px;
  padding-bottom: 113px;
  background-color: $blue;
}

.feedback__form-wrap {
  position: relative;
  max-width: 574px;
  margin-left: auto;
  color: $white;
}

.feedback__image {
  position: relative;
  padding-top: 69px;
  padding-left: 7px;
  margin-right: 30px;

  &::before {
    content: "";
    position: absolute;
    width: 671px;
    height: 641px;
    background-image: url("../img/triangle-form.svg"), url("../img/triangle-form-right");
    background-repeat: no-repeat;
  }
}

.feedback__image img {
  width: 100%;
  height: auto;
}

.feedback__form-wrap h2 {
  margin: 0;
  margin-bottom: 9px;
  font-family: "RobotoCondensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
}

.feedback__form-wrap p {
  margin: 0;
  margin-left: 4px;
  margin-bottom: 48px;
}
