.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  bottom: 0;
  color: $blue-darkest;
  background-color: $gray;
  padding-top: 64px;
}

.footer__social-wrap {
  margin-left: auto;
}

.footer__nav-wrap {
  margin-left: 200px;
}

.footer a {
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1460px;
  margin: 0 auto;
  padding-top: 64px;
}

.footer__social-list,
.footer__nav-list,
.footer__nav-group,
.footer__contacts-list {
  @include list-reset;
}

.footer__logo {
  display: block;
  margin-bottom: 49px;
}

.footer__social {
  padding-left: 22px;
}

.footer__contacts {
  padding-right: 11px;
}

.footer__nav-group--pl {
  padding-left: 15px;
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
}

.footer__social-list li {
  margin-right: 15px;
}

.footer__social-list svg:hover {
  fill: $blue;
}

.footer__nav {
  width: 31%;
  max-width: 440px;
  margin-right: 10px;
}

.footer__nav p,
.footer__contacts p {
  margin: 0;
  margin-bottom: 25px;
  padding-top: 1px;
  padding-left: 2px;
  font-family: "RobotoCondensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: inherit;
}

.footer__nav-list {
  display: flex;
  justify-content: space-between;
}

.footer__contacts-list p {
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  text-transform: initial;
  opacity: 0.5;
}

.footer__nav-list a,
.footer__contacts-list a,
.footer__contacts-list span {
  padding-right: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: inherit;
  opacity: 0.5;
}

.footer__copyright-wrap {
  display: flex;
  justify-content: space-between;
  // width: 100%;
  // margin-top: 56px;
  // padding: 16px 26px 15px 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  opacity: 0.5;
}

.footer__copyright-wrap p {
  margin: 0;
  margin-right: 74px;
}

.footer__copyright-wrap a {
  color: inherit;
}


@media (max-width: $tablet-screen) {
  .footer {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      top: 97px;
      background-color: rgba(98, 105, 98, 0.2);
    }

    &::after {
      bottom: 65px;
    }
  }

  .footer__inner {
    padding-top: 19px;
  }

  .footer__social,
  .footer__nav,
  .footer__copyright {
    padding: 0 25px;
  }

  .footer__nav {
    padding-right: 0;
  }

  .footer__contacts {
    padding: 0 33px;
  }

  .footer__social {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 59px;
  }

  .footer__logo {
    margin: 0;
  }

  .footer__social-list {
    max-width: 160px;
    margin-left: auto;
  }

  .footer__nav-list {
    flex-direction: column;
  }

  .footer__copyright {
    margin-top: 35px;
    padding: 21px 25px;
  }

  .footer__copyright p {
    display: none;
  }

  .footer__social-list li:last-child {
    margin-right: 0;
  }

  .footer__copyright span {
    position: absolute;
    min-width: 223px;
    top: 36px;
    left: 43%;
  }
}

@media (max-width: $mobile-screen) {
  .footer {
    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .footer__inner {
    padding-top: 46px;
  }

  .footer__social {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 43px;
  }

  .footer__logo {
    margin-bottom: 81px;
  }

  .footer__social-list {
    margin: 0;
    max-width: 100%;
  }

  .footer__nav,
  .footer__contacts {
    position: relative;
    width: 100%;
    padding: 0 15px;
    background-image: url("../img/icon-plus.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 94% 28px;
    border-top: 1px solid rgba(98, 105, 98, 0.2);
  }

  .footer__contacts {
    border-bottom: 1px solid rgba(98, 105, 98, 0.2);
  }

  .footer__nav {
    max-width: 100%;
    margin: 0;
  }

  .footer__nav-list {
    padding-bottom: 20px;
  }

  .footer__contacts > p,
  .footer__nav > p {
    margin: 0;
    padding: 28px 0;
  }

  .footer__nav ul,
  .footer__contacts ul {
    display: none;
  }

  .footer__nav.footer__nav--show,
  .footer__contacts.footer__contacts--show {
    background-image: url("../img/icon-minus.svg");
    background-size: 16px 2px;
    background-position: 94% 34px;
  }

  .footer__nav.footer__nav--show ul,
  .footer__contacts.footer__contacts--show ul {
    display: block;
  }

  .footer__contacts ul {
    padding-bottom: 29px;
  }

  .footer__contacts-list p {
    max-width: 272px;
  }

  .footer__copyright {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding: 0;
    padding-top: 28px;
  }

  .footer__copyright a {
    margin-bottom: 21px;
  }

  .footer__copyright span {
    top: 124px;
    left: 50%;
    transform: translateX(-50%);
  }
}
