.header {
  display: flex;
  align-items: center;
  max-width: 1460px;
  margin: 0 auto;
  margin-bottom: 225px;
  padding-left: 23px;
  padding-right: 26px;
}

.header__logo {
  width: 200px;
  height: 58px;
}

.header__feedback-list {
  @include list-reset;
  display: flex;
  padding-bottom: 6px;
  align-items: center;
  color: $white;
  margin-left: auto;
}

.header__feedback-list a {
  color: inherit;
}

.header__feedback-email {
  position: relative;
  padding-left: 40px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 2px;
    width: 19px;
    height: 14px;
    background-image: url("../img/icon-email.svg");
    background-repeat: no-repeat;
    transform: translateY(-50%);
  }
}

.header__feedback-phone {
  position: relative;
  margin-left: 88px;
  margin-right: 49px;
  padding-left: 33px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 18px;
    height: 18px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    transform: translateY(-50%);
  }
}

.header__feedback-email,
.header__feedback-phone {
  &:hover,
  &:focus {
    color: $white-60;
  }

  &:active {
    color: $white-30;
  }
}

.header__callback {
  min-width: 182px;
  padding: 13px 27px;
  border: 1px solid $white;
  border-radius: 5px;
  font-family: "RobotoCondensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  &:hover,
  &:focus {
    border-color: $blue;
    background-color: $blue;
  }

  &:active {
    background-color: $blue-dark;
  }
}

@media (max-width: $tablet-screen) {
  .header {
    margin-bottom: 112px;
    padding-right: 15px;
    padding-left: 26px;
  }

  .header__feedback-email {
    font-size: 0;
    margin-right: 19px;

    &::before {
      width: 25px;
      height: 18px;
      top: -4px;
      left: 1px;
    }
  }

  .header__feedback-phone {
    font-size: 0;
    margin: 0;

    &::before {
      width: 24px;
      height: 24px;
      top: -5px;
    }
  }

  .header__callback {
    display: none;
  }
}

@media (max-width: $mobile-screen) {
  .header {
    padding-left: 17px;
    padding-right: 7px;
    margin-bottom: 231px;
    align-items: flex-start;
  }

  .header__logo {
    max-width: 148px;
    height: 38px;
  }

  .header__feedback-email {
    padding: 0;
    margin-right: 31px;
    padding-right: 15px;

    &::before {
      top: 2px;
      left: -2px;
    }
  }

  .header__feedback-phone {
    &::before {
      top: 1px;
    }
  }
}
