.modal {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.modal--show {
  display: block;
}

.modal__overlay {
  width: 100%;
  height: 100%;
  background-color: $black-50;
}

.modal__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 55%;
  left: 50%;
  width: 490px;
  min-height: 605px;
  margin-top: -341px;
  padding: 30px 39px 30px;
  background-color: $blue;
  transform: translateX(-50%);
  color: $white;
  z-index: 1000;
}

.modal__close {
  position: absolute;
  right: 27px;
  top: 19px;
  padding: 0;
  margin: 0;
  width: 17px;
  height: 17px;
  font-size: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}

.modal h2 {
  margin: 0;
  margin-bottom: 12px;
  font-family: "RobotoCondensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 39px;
}

.modal p {
  margin: 0;
  margin-bottom: 31px;
  padding-right: 20px;
}

.modal__field-contact label {
  display: none;
}

.modal__form input[type="text"] {
  margin-bottom: 33px;
}

.modal__form input[type="text"],
.modal__form input[type="tel"] {
  width: 100%;
  height: 50px;
  padding-left: 24px;
}

.modal__form input[type="text"],
.modal__form input[type="tel"],
.modal__form textarea {
  background-color: $white-10;
  border: none;
  color: $white;
  border-radius: 0;

  &::placeholder {
    color: $white;
  }
}

.modal__form textarea {
  width: 100%;
  height: 104px;
  resize: none;
  padding: 14px 25px;
  border-radius: 0;
}

.modal__field-submit button {
  width: 100%;
  margin-bottom: 35px;
  padding: 14px 14px;
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 5px;
  font-family: "RobotoCondensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $blue;
    background-color: $white;
  }

  &:active {
    color: #0096d6;
  }
}

.modal__field-submit label {
  position: relative;
  display: block;
  width: 360px;
  padding-left: 49px;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid $white;
  }

  &::after {
    content: "";
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url("../img/icon-check-mark.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  &:hover::before {
    transform: scale(1.1);
  }
}

.modal__field-submit input[type="checkbox"]:checked + label::after {
  display: block;
}

.modal__field-submit input[type="checkbox"] {
  left: 48px;
  bottom: 52px;
}


.modal__field-contact {
  margin-bottom: 32px;
}

.modal__field-textaria {
  margin-bottom: 24px;
}
