.services {
  padding-top: 90px;
  padding-bottom: 96px;
  background-color: $blue-darkest;
}

.services h2 {
  margin: 0;
  margin-bottom: 51px;
  font-family: "RobotoCondensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $white;
}

.services__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.services__list li {
  width: calc(( 100% - 60px ) / 3);
  margin-bottom: 30px;
  margin-right: 29.9px;
}

.services__list li:nth-child(3n) {
  margin-right: 0;
}

.services__list a {
  display: block;
  position: relative;
  min-height: 620px;
  padding-bottom: 20px;
  color: $white;
  background-color: $blue-light-darkest;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 63px;
    height: 63px;
    background-color: $blue;
    background-image: url("../img/icon-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 6px 9px;
  }

  &:hover::after {
    background-color: $blue-dark;
  }
}

.services__list h3 {
  max-width: 160px;
  margin: 0;
  font-family: "RobotoCondensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.services__production {
  padding-top: 50px;
  padding-left: 43px;
  background-image: linear-gradient(rgba(27, 45, 55, 0.8), rgba(27, 45, 55, 0.8)), url("../img/service-01@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-color: $blue-light-darkest;
    background-image: linear-gradient(rgba(27, 45, 55, 0.8), rgba(27, 45, 55, 0.8)), url("../img/service-01@2x.jpg");
  }
}

.services__installation {
  padding-top: 50px;
  padding-left: 43px;
  background-image: linear-gradient(rgba(27, 45, 55, 0.8), rgba(27, 45, 55, 0.8)), url("../img/service-02@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: linear-gradient(rgba(27, 45, 55, 0.8), rgba(27, 45, 55, 0.8)), url("../img/service-02@2x.jpg");
  }
}

.services__component-parts {
  padding-top: 50px;
  padding-left: 43px;
  background-image: linear-gradient(rgba(27, 45, 55, 0.8), rgba(27, 45, 55, 0.8)), url("../img/service-03@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: linear-gradient(rgba(27, 45, 55, 0.8), rgba(27, 45, 55, 0.8)), url("../img/service-03@2x.jpg");
  }
}

@media (max-width: $tablet-screen) {
  .services {
    padding-top: 50px;
    padding-bottom: 32px;
  }

  .services .container {
    padding-left: 26px;
    padding-right: 21px;
  }

  .services h2 {
    max-width: 613px;
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 48px;
  }

  .services__list li {
    width: 100%;
    margin-bottom: 46px;
  }

  .services__list a {
    min-height: 256px;
  }

  .services__production {
    padding-top: 40px;
    padding-left: 45px;
    padding-right: 45px;
    margin-right: 6px;
    background-image: linear-gradient(rgba(27, 45, 55, 0.8), rgba(27, 45, 55, 0.8)), url("../img/service-01-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: linear-gradient(rgba(27, 45, 55, 0.8), rgba(27, 45, 55, 0.8)), url("../img/service-01-tablet@2x.jpg");
    }
  }

  .services__installation {
    padding-top: 40px;
    padding-left: 45px;
    padding-right: 45px;
    background-image: linear-gradient(rgba(27, 45, 55, 0.8), rgba(27, 45, 55, 0.8)), url("../img/service-02-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: linear-gradient(rgba(27, 45, 55, 0.8), rgba(27, 45, 55, 0.8)), url("../img/service-02-tablet@2x.jpg");
    }
  }

  .services__component-parts {
    padding-top: 50px;
    padding-left: 46px;
    padding-right: 45px;
    background-image: linear-gradient(rgba(27, 45, 55, 0.8), rgba(27, 45, 55, 0.8)), url("../img/service-03-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: linear-gradient(rgba(27, 45, 55, 0.8), rgba(27, 45, 55, 0.8)), url("../img/service-03-tablet@2x.jpg");
    }
  }
}

@media (max-width: $mobile-screen) {
  .services {
    padding-bottom: 35px;
  }

  .services .container {
    padding-left: 14px;
    padding-right: 16px;
  }

  .services h2 {
    max-width: 613px;
    margin-left: 11px;
    margin-bottom: 42px;
    font-size: 28px;
    line-height: 39px;
  }

  .services__list li {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .services__list a {
    padding-top: 20px;
    padding-left: 36px;
    min-height: 256px;
  }

  .services__production {
    margin-right: 0;
    background-image: linear-gradient(rgba(27, 45, 55, 0.8), rgba(27, 45, 55, 0.8)), url("../img/service-01-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: linear-gradient(rgba(27, 45, 55, 0.8), rgba(27, 45, 55, 0.8)), url("../img/service-01-mobile@2x.jpg");
    }
  }

  .services__installation {
    background-image: linear-gradient(rgba(27, 45, 55, 0.8), rgba(27, 45, 55, 0.8)), url("../img/service-02-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: linear-gradient(rgba(27, 45, 55, 0.8), rgba(27, 45, 55, 0.8)), url("../img/service-02-mobile@2x.jpg");
    }
  }

  .services__list .services__component-parts {
    padding-top: 30px;
    background-image: linear-gradient(rgba(27, 45, 55, 0.8), rgba(27, 45, 55, 0.8)), url("../img/service-03-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: linear-gradient(rgba(27, 45, 55, 0.8), rgba(27, 45, 55, 0.8)), url("../img/service-03-mobile@2x.jpg");
    }
  }
}
