.wrap-bg {
  padding-top: 113px;
  padding-bottom: 110px;
  background-image: url("../img/triangle-left.svg"),
    url("../img/triangle-left-circle.svg"),
    url("../img/triangle-right-circle.svg"),
    url("../img/triangle-right.svg");
  background-repeat: no-repeat;
  background-position: 202px 45px, -297px 447px, 560px 150px, 1555px 396px;
}

@media (max-width: $tablet-screen) {
  .wrap-bg {
    padding-top: 54px;
    padding-bottom: 81px;
    background-image: url("../img/triangle-right-circle.svg");
    background-position: 211px 89px;
  }
}

@media (max-width: $mobile-screen) {
  .wrap-bg {
    padding-top: 37px;
    padding-bottom: 64px;
    background-position: -120px 652px;
  }
}
