//breakpoints
$mobile-screen: 767px;
$tablet-screen: 1023px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//colors
$gray: #666666;
$white: #ffffff;
$white-60: rgba(255, 255, 255, 0.6);
$white-30: rgba(255, 255, 255, 0.3);
$blue: #00b3ff;
$blue-dark: #0096d6;
