//breakpoints
$mobile-screen: 767px;
$tablet-screen: 1023px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//colors
$gray: #fafafa;
$gray-dark: #666666;
$white: #ffffff;
$white-80: rgba(255, 255, 255, 0.8);
$white-60: rgba(255, 255, 255, 0.6);
$white-30: rgba(255, 255, 255, 0.3);
$white-10: rgba(255, 255, 255, 0.1);
$blue: #00b3ff;
$blue-dark: #0096d6;
$blue-darkest: #1b2d37;
